* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
}

header {
  background-color:#211F1E;
  text-align: center;
  color: white;
}

h1 {
	font-size: 2.8rem;
	font-weight: 400;
	font-family: 'Limelight', cursive;
}

body { width: 100%;
background: url('../images/cafe.jpg');
 background-position: center;
 background-size: cover;
  color:#E8E8E6}

h3{
  color:#E8E8E6;
  font-size: 3.0rem;
   text-align: center;}

h2{text-align: center;}

nav{
  background: #44443B;
  font-size: 1.6rem;}

a{
  color:#E8E8E6;
  font-weight: bolder;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;}

nav ul li{
  display: inline-block;
  margin: 2rem;}

ul{
  text-align: center;}

  a:hover{
     color:black;
    border: #ff7a59 solid 1px;
    background:#fff;}

form{
  margin-left: 1.6rem;
   color:white;
  font-size: 2.2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

section{font-family: 'Abril Fatface', cursive;
  background-color:rgba(128, 128, 128, 0.3);
   width: 70%;
   margin: 0 auto; }

  input[type=text], input[type=email], textarea[name=mensagem]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid white;
    border-radius: 4px;
  }

  button{ background: lightgrey;
     color: black;
     border-radius: 10px;
     padding: 2.1rem;
      margin: 1.1rem;
    margin-left: 40rem;
  }


  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the footer */
  footer {
    background-color: #44443B;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
  }


  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
